{% extends 'base.html' %}

{% block title %}
<title>Edit Task - DropTask</title>
{% endblock title %}


{% block content %}
<div class="container">
    <br>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
{% endif %}

<!-- Forms Start -->
<form method="POST" class="row">
    {% csrf_token %}
    <input type="text" name="task" class="form-control col-lg-9" value="{{ task_obj.task }}">&nbsp;&nbsp;
    <input type="hidden" name="done" value="{{ task_obj.done }}">
    <button type="submit" class="btn btn-dark col-lg-2">Update Task</button>
</form>
<!-- Forms End -->

</div>

{% endblock %}