{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- For Icon(Favicon Icone) Start -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/gif" sizes="16x16">
    <!-- For Icon(Favicon Icone) Start -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block title %}

    {% endblock title %}

    <nav class="navbar navbar-expand-lg navbar-dark font-weight-bold" style="background-color: #2BBBAD">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item {% block homeactive %} {% endblock homeactive %} nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item {% block todoactive %} {% endblock todoactive %} nav-link" href="{% url 'todolist' %}">To-do List</a>
          <a class="nav-item {% block contactactive %} {% endblock contactactive %} nav-link" href="{% url 'contact' %}">Contact</a>
          <a class="nav-item {% block aboutactive %} {% endblock aboutactive %} nav-link" href="{% url 'about' %}">About</a>
        </div>
      </div>
<!-- Check User is Logged In or Logged Out To Give Permission Start -->

        {% if user.is_authenticated %} <!-- User is Logged In -->
{#        <div class="form-inline my-2 my-lg-0">#}
{#            <div class="mt-2 bg-dark text-white">#}
{#                <p><i class="fa fa-user fa-lg text-capitalize"> {{ user.username }}</i></p> <!-- Logged In Username will show -->#}
{#            </div>#}
{##}
{#            <a href="{% url 'logout' %}"><button class="btn btn-light ml-2" type="submit">Logout</button></a>#}
{#        </div>#}

        <div class="dropdown">
          <button class="btn border-light text-light dropdown-toggle fa fa-user fa-lg" style="background-color: #2BBBAD" type="button" data-toggle="dropdown" aria-haspopup="true">
          </button>
          <div class="dropdown-menu" style="right: 0; left: auto;">
            <button class="dropdown-item text-capitalize" type="button">{{ user.username }}</button>   <!-- Logged In Username will show -->
            <a class="dropdown-item" href="{% url 'logout' %}" role="button">Logout</a>
          </div>
        </div>

        {% else %} <!-- User is Logged Out -->

        <a href="{% url 'login' %}"><button class="btn border-light mr-2 text-white font-weight-bold" style="background-color: #2BBBAD" type="submit">Login</button></a>
        <a href="{% url 'register' %}"><button class="btn border-light text-white font-weight-bold" style="background-color: #2BBBAD" type="submit">Register</button></a>

        {% endif %}
<!-- Check User is Logged In or Logged Out To Give Permission End -->
    </nav>

  </head>

  <body>


  {% block content %}

  {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
